.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #232323;
  padding: 32px;
  gap: 24px;
  position: relative;
  background-image: radial-gradient(#2c2c2c 1px, transparent 0);
  background-size: 20px 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.version {
  flex: 5;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.contact{
  flex: 3;
}

.socials{
  flex: 2;
}

.version-badge {
  padding: 4px 10px;
  border-radius: 999px;
  background: transparent;
  color: yellow;
  border: 1px solid yellow;
  font-size: 14px;
  font-weight: 600;
}

.version-date {
  font-size: 13px;
  color: #aaa;
}

.footer-link {
  font-weight: 500;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
  text-decoration-color: #888;
  color: inherit;
  transition: color 0.2s ease;
  margin-bottom: 8px;
}

.footer-link:hover {
  color: yellow;
}

.footer-heading {
  font-weight: 500;
  margin-bottom: 4px;
}

.footer-email {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s ease;
}

.footer-email:hover {
  color: yellow;
}

/* Responsive Stack */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .version {
    flex-direction: column;
    align-items: flex-start;
  }
}
